# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC\OneDrive\Documents\CS Graduate Classes\Algorithm Analysis and Data Structures CS-5343\cs-5343-project-5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
